<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <section class="vh-100" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
              <div class="card rounded-3">
                <div class="card-body p-4">
      
                  <h4 class="text-center my-3 pb-3">To Do App</h4>
      
                  <form method="POST" action="/todo/create/" class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
                    {% csrf_token %}
                    <div class="col-12">
                      <div class="form-outline">
                        <input name="todo_title" type="text" id="todo_title" class="form-control" placeholder="Enter a task here" />
                      </div>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </form>
                  <table class="table mb-4">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Todo item</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for todo in todo_list %}
                      <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{todo.todo_title}}</td>
                        <td>{{todo.todo_status}}</td>
                        <td>
                            <div class="row no-gutters">
                                <div class="col-md-6 px-0">
                                    <form method="POST" action="/todo/delete/{{todo.pk}}/">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger text-white">Delete</button>
                                    </form>
                                </div>
                                <div class="col-md-6 px-0">
                                    <form method="post" action="/todo/update/{{todo.pk}}">  
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success text-white">Finished</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>